<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DirectoryToWatch" value="C:\Documents and Settings\James Avery\My Documents\My Projects\AutoTest.NET" />
		<add key="UnitTestExe" value="C:\Program Files\MbUnit\MbUnit.Cons.exe" />
		<add key="BuildExecutable" value="C:\WINDOWS\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe" />
		<add key="IgnoreFolder" value="TestLibrary" />
	</appSettings>
	
</configuration>