<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BerryPatch.Repository.Properties.Settings.berrypatch_securityConnectionString"
            connectionString="Data Source=DEV-SERVER\SQLEXPRESS;Initial Catalog=berrypatch_security;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>